*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

/* body */

/* header */
header{
  background-color:#231f25;
  height:100vh;
  /* width: 100vw; */
  display: flex;
  flex-direction: column;
}
/* nav */
.navig{
  position: fixed;
  
}
.navig ul{
  list-style:none;
  display:flex;
  /* height: 10vh; */
  background-color: #be3144;
  justify-content:flex-end;
  align-items:center;
  
}
.navig ul li a{
  color:white;
  display:block;
  text-decoration:none;
  padding:10px;
}
.navig ul li:hover{
  background-color: #45567d;
}
header div{
  /* background-color:white; */
  align-self: center;
  width: auto;
  justify-items: center;
  /* top:50%; */
  /* left:50%; */
  /* width: 100vw; */
}
.intro {
  /* width:auto; */
  /* margin-left:auto; */
  /* margin-right:auto; */
}
.intro p{
  
}
/* Main */
main{
  background-color:#45567d;
  height:100vh;
}

/* Footer */
footer{
  background-color:#303841;
  height:100vh;
}