*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    /* padding-top: 30px; */
    min-height: 100vh;
    background-image: linear-gradient(rgba(235, 235, 229, 0.7),rgba(187, 179, 179, 0.578)) ,url(Images/wp2765115-lord-krishna-and-arjuna-hd-wallpapers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
/* heading */
.btname{
    color: rgba(255, 98, 0, 0.571);
    background-color: rgba(64, 44, 44, 0.581);
    margin-bottom: 300px;
    padding: 8px 16px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.btname::before{
    content: " ";
    display: block;
    width: 124px;
    background-color: orange;
    height: 20px;
}
.btname::after{
    content: " ";
    display: block;
    width: 63px;
    align-self: flex-end;
    background-color: rgba(255, 166, 0, 0.832);
    height: 20px;
    
}

/* link */
.redirection{
    text-decoration: none;
    color:rgba(100, 148, 237, 0.581);
    background-color: rgba(255, 127, 80, 0.996);
    padding: 8px 10px;
    text-shadow: 2px 2px 15px rgba(128, 128, 128, 0.895);
    border-radius: 8px;
    box-shadow: 5px 5px rgba(128, 128, 128, 0.4);
}
.redirection:active{
    box-shadow: 0px 0px gray;
}

