.root{
    display: flex;
    flex-direction: column;
}
.header1{
    padding-top:20px;
    display: flex;
    flex-direction: column;
    gap:50px;
    /* header */
}
.navbar{
    display:flex;
    justify-content: space-around;
}
.navbar img{
    /* height: 50px; */
    max-width: 14rem;
    height: 2.7rem;
    width: 120px;
}
.logo{
    width: 40%;
    display: flex;
    /* justify-content: space-between; */
    gap:20px;
}
.inputs{
    width: 80%;
    align-self:self-start;
    justify-self: flex-start;
    display: flex;
    box-shadow: 2px 2px 2px 2px rgba(128, 128, 128, 0.177);
    padding:10px 20px;
    border-radius: 15px;
    background-color: aliceblue;
}
.bar{
    height:30px;
    /* width: 10px; */
    border: 1px solid gray;
    align-self: center;
    border-top: none;
    border-left: none;
    border-bottom: none;
}
.inputs input , .inputs select {
    padding:10px 20px;
    background-color: aliceblue;
    border: 0px;
    color:gray;
    
   
}
.selectPlace,.restaurantSearch{
   
    padding:0px 20px;
}
.logginin{
    width: 10vw;
    display: flex;
    /* flex-direction: ; */
    align-items: center;
    justify-content: space-between;
}
.logginin a {
    color:gray;

}
.header1 .tab{
    width: 75%;
    display: flex;
    align-self: center;
    /* justify-content: space-between; */
    gap:50px;
}
.dinningout , .delivery , .nightlife{
    display: flex;
    align-items: center;
    gap:10px;
    padding-bottom: 10px;
}
.dinningout img, .delivery img , .nightlife img{
    height:60px;
    width:60px;
}
.tab .selected{
    border-bottom: 2px solid #ff7e8b;
}
/* collection1 */
.collection1{
    background-color: #f8f8f8;
    padding-top:40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}
.head1{
    width:75%;
    display: flex;
    flex-direction: column;
    gap:40px;
}
.bengluruCollect{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
}
.parties{
    width: 75%;
}
.parties img{
    width:100%;
}
.parties h3 , .parties p{
    padding-left:40px;
}
.options{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.navbuttons{
    width:75%;
    display: flex;
    gap:30px;
    align-items: center;
    /* justify-content: center; */
    position: sticky;
    top:0px;
}
.navbuttons button{
    width:136px;
    height:60px;
    /* height: 300px; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    padding:10px 30px;
    /* border:none; */
    border-radius: 10px;
}
.navbuttons button img{
    height:20px;
}

.anchorimage{
    display: flex;
    justify-content: center;
}
.anchorimage img{
    width:75%;
}