*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
body{
    display:flex;
    flex-direction: column;
}
/* Header */
.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color:#eeebec;
    
    padding: 40px;
}
.navlinks{
    display: flex;
    justify-content: space-between;
    gap: 100px;

}
.navlinks a {
    /* display: inline-block; */
    text-decoration: none;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

/* main */
.main{
    background-color: #ebebed;
    width: 100%;
    /* background-color: #e3e3e5; */
    margin-bottom: 20px;
}
.main h1{
    background-color: #c8c10d;
    text-align: center;
    color:white;
    padding:20px;
    font-size: 42px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: 300;
}
.main .image{
    margin: auto;
    position: relative;
    width:auto;
   
}
.main .image img{
    display: block;
    margin: auto;
    /* display: relative; */
    /* height:200px; */
    width:1082px;
    
}
/* middle */


/* footer */